
@import "bootswatch-theme/_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch-theme/_bootswatch";

/*
  Layout
  */
body {
  min-width: 320px;
}
.navbar {
  margin-bottom: 5px 0;
}
.page-header {
  margin: 0;
  border: none;
  h1 {
    margin: 5px 0;
  }
}
.row.no-gutter {
  margin-left: 1px;
  margin-right: 1px;

  [class*='col-']:not(:first-child),
  [class*='col-']:not(:last-child) {
    padding-right: 1px;
    padding-left: 1px;
  }
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #C8C8C8, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #C8C8C8;

    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #2e3338;
  }
}

fieldset.title legend {
  padding: 5px 10px;
}

/*
  Index
  */

.gallery-item {
  position: relative;
  margin-bottom: 2px;

  img {
    width: 100%;
  }

  .gallery-item-title {
    position: relative;

    a {
      position: absolute;
      z-index: 1;
    }
  }

  :hover {
    opacity: 0.8;
  }
}


/*
  Single image
  */
.image-container {
  background: #0e0e0e;

  img {
    margin: 0 auto;
  }
}

.favourite, .voting {
  display:inline-block;
}

.navigation {
  img {
    width: 44%
  }
  .prev {
    img {
      margin-right: 5%;
    }
  }
}

.comments {
  .comment-adder-show-action {
    float: right;
  }
  .comment-adder {
    display: none;
  }
  .comment-index {

  }
}

.fluidbox__overlay {
  background-color: rgba(0,0,0,0.85);
}