
@import "bootswatch-theme/_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch-theme/_bootswatch";

/*
  Layout
  */
body {
  min-width: 320px;
}
.navbar {
  margin-bottom: 5px 0;
}
.page-header {
  margin: 0;
  border: none;
  h1 {
    margin: 5px 0;
  }
}
.row.no-gutter {
  margin-left: 1px;
  margin-right: 1px;

  [class*='col-']:not(:first-child),
  [class*='col-']:not(:last-child) {
    padding-right: 1px;
    padding-left: 1px;
  }
}

/*
  Index
  */

.gallery-item {
  position: relative;
  margin-bottom: 2px;

  img {
    width: 100%;
  }

  .gallery-item-title {
    position: relative;

    a {
      position: absolute;
      z-index: 1;
    }
  }

  :hover {
    opacity: 0.8;
  }
}


/*
  Single image
  */
.favourite, .voting {
  display:inline-block;
}

.navigation {
  img {
    width: 44%
  }
  .prev {
    img {
      margin-right: 5%;
    }
  }
}

.comments {
  .comment-adder-show-action {
    float: right;
  }
  .comment-adder {
    display: none;
  }
  .comment-index {

  }
}