
@import "bootswatch-theme/_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch-theme/_bootswatch";

/*
  Layout
  */
body {
  min-width: 320px;
}
/*
  Index
  */

.gallery-item {
  position: relative;
  margin-bottom: 2px;

  img {
    width: 100%;
  }

  .gallery-item-title {
    position: relative;

    a {
      position: absolute;
      z-index: 1;
    }
  }

  :hover {
    opacity: 0.8;
  }
}

/*
  Bootstrap extend
  */

.row.no-gutter {
  margin-left: 1px;
  margin-right: 1px;

  [class*='col-']:not(:first-child),
  [class*='col-']:not(:last-child) {
    padding-right: 1px;
    padding-left: 1px;
  }
}

